<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name="org.disastermesh.android.service.EmergencyRelayService"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />
        <receiver
            android:name="org.disastermesh.android.service.RelayBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW" />
                <action android:name="android.intent.action.DEVICE_STORAGE_OK" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
